PORT=
NODE_ENV=
URL_REACT=
MAX_NUMBER_SCHEDULE= 
# đặt cái này để đặt điều kiện trong khung h đó chỉ có 10 người được khám còn hơn 10 người sẽ chặn lại ko cho đặt
EMAIL_APP_PASSWORD=
EMAIL_APP=

DB_SSL=
DB_HOST=
DB_DATABASE_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_DIALECT=